<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/css/application.css" />
    <link rel="stylesheet" href="/css/rouge.css" />
  </head>
  <body class="max-w-3xl mx-auto p-8">
    <div class="prose">
      <h1><a href="/money" class="font-bold">Money</a></h1>

      <p class="pb-8">
        <a class="button" href="/money/sessions/new">Log in</a>
        <a class="button button--primary" href="/money/users/new">Register</a>
      </p>

      {{content}}
    </div>
  </body>
</html>
